<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <script type="text/javascript" src="{% static 'settings/form.js' %}"></script>
    </head>
    <body>
        {% if form %}
            <form action="/settings/" method="POST">
                <label for="pin">Enter your pin Here: </label><br>
                <input type="password" name="pin" id="pin" required><br>
                <input type="submit" value="next">
            </form>
        {% else %}
            <form action="/settings/settings/" method="GET">
                <button value="Done" name="button" class="button" id="Done">Done</button>
                <button value="View" name="button" class="button" id="View" onclick="RedirectUser()">View</button>
            </form>
        {% endif %}
    </body>
</html>