body {
    color: purple;
    text-align: center;
}
h1 {
    color: springgreen;
    top: 5%;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}
form {
    color: snow;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
}
form input {
    text-align: center;
    color: orange;
    border: 5px solid brown;
}
form select option {
    text-align: center;
    color: orange;
    border: 10px dotted brown;
    border-radius: 25%;
}