body {
    border: 5px solid black;
    color: blue;
}
input {
    color: goldenrod;
    text-align: center;
    border: 5px solid black;
}
form {
    color: silver;
    text-align: center;
    border: 5px solid black;
}
#done {
    top: 25%;
    bottom: 50%;
}
#view {
    top: 75%;
    bottom: 100%;
}